<div class="col-md-2 images">
  {{#each model as |category|}}
  {{#link-to 'truth' category}}
  <div class="category-image-container">
    <img class="{{category}}-image category-image" src="/assets/images/{{category}}.png"/>
  </div>
  {{/link-to}}
  {{/each}}
</div>
