<h1>THESE ARE THE TRUTHS</h1>
<div class="images">
  {{#each model as |category|}}
  {{#link-to 'truth' category}}
  <div class="{{category}}-image-container">
    <img class="{{category}}-image" src="/assets/images/{{category}}.jpg"/>
  </div>
  {{/link-to}}
  {{/each}}
</div>
