.map-canvas {
  margin-left: auto;
  margin-right: auto;
  height: 375px;
  width: 900px;
  border: 2px white solid;
  border-radius: 50px;
  box-shadow: 0px 0px 40px yellowgreen;
}

@font-face {
    font-family: 'aventurabold';
    src: url('/assets/fonts/Aventura-Bold-webfont.eot');
    src: url('/assets/fonts/Aventura-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Aventura-Bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/Aventura-Bold-webfont.woff') format('woff'),
         url('/assets/fonts/Aventura-Bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/Aventura-Bold-webfont.svg#aventurabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #191919;
  font-family: 'aventurabold';
  color: #66CD00;
}

.header {
  font-family: 'aventurabold';
  margin-top: -15px;
}

#title {
  color: white;
  word-spacing: -20px;
  font-size: 50px;
}

#tagline {
  color: #66CD00;
  font-size: 20px;
}

.category-image-container{
  margin-left: 50px;
  margin-top: 10px;
  text-align: center;
  border: 2px solid #66CD00;
  border-radius: 500px;
  width: 120px;
  height: 120px;
  background-color: white;
}

.category-image{
  margin-top: 27px;
  width: 60%;
  height: 60%;
}

.tupac-image{
  width: 40%;
  height: 60%;
}

.active .category-image-container {
  border: 2px solid yellowgreen;
  box-shadow: 0px 0px 40px yellowgreen;
  background-color: #66CD00;
}

.category-image-container:hover{
  border: 2px solid white;
  box-shadow: 0px 0px 40px white;
  background-color: #66CD00;
}

.hidden {
  display: none;
}

.truth-posts{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.filter-search{
  padding-left: 5px;
  outline: none;
  border-radius: 30px;
  width: 300px;
}

.filter-search:active{
  outline: none;
}

.filter-search:focus{
  outline: none;
}
