<div class="row">
  <div class="col-xs-2 images">
    {{#each model as |category|}}
    {{#link-to 'category' category.posts}}
    <div class="category-image-container">
      <img class="{{category.name}}-image category-image" src="/assets/images/{{category.name}}.png"/>
    </div>
    {{/link-to}}
    {{/each}}
  </div>
  <div class="col-xs-10 header text-center">
    <div class="row">
      <div class="col-xs-9">
        {{#link-to 'truths'}}
          <h1 id="title">TRUTH SEEKER</h1>
          <h4 id="tagline">THE PEOPLE NEED TO KNOW</h4>
        {{/link-to}}
      </div>
      {{outlet}}
    </div>
  </div>
</div>
